<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
		<style type="text/css">
			* {
			  margin: 0;
			  padding: 0;
			}
		</style>
	</head>
	<body style="margin:0!important;">

	<!-- Container	-->
	<table width="100%" style="background-color:#F0F0F0;font: 12px/18px Helvetica,Arial,Verdana,sans-serif !important;">
	<tr>
	<td>


		<!--	Main Content	-->
		<table width="610" style="color: #666666; background-color: #FFFFFF; font: 12px/18px Helvetica,Arial,Verdana,sans-serif !important;border: 0px solid #f0f0f0; margin-top: 30px; vertical-align: middle;margin-left:auto; margin-right:auto;" cellpadding="0" cellspacing="0" border="0">

			<!-- Header (Common) -->
			<tr>
				<td height="80" style="background-color: #404958; vertical-align: middle;border-radius: 5px 0 0 0;">
					<img src="http://tvh.s3.amazonaws.com/public/email/tropicalsimple/tvh-tropical-logo.png" alt="The Vacation Hub" style="margin-left: 30px;" />
				</td>
				<td style="background: #404958 url('http://tvh.s3.amazonaws.com/public/email/tropicalsimple/tvh-tropical-header-background.png');vertical-align: middle; border-radius: 0 5px 0 0;">
					<div style="font-family: Arial; font-size: 18px;font-weight: normal;margin: 0;padding: 7px 20px 0 0;text-align: right; color: #d5dbe2;">$vo.title</div>
					<p style="font-family: Arial;font-size: 12px;font-weight: normal;margin: 0 20px 0 0;padding: 0 0 0 0;text-align: right; color: #98C5D8;">$vo.today</p>
				</td>
			</tr>
			<!-- Header (Common) -->


			<!-- Body -->
			<tr>
			<td colspan="2" style="border-radius: 0 0 5px 5px;">
			<table>
			<tr>
			<td style="padding: 20px;">
				<!-- \/\/\/\/\/\/\/ Main Content Starts Here \/\/\/\/\/\/\/ -->

				<table width="100%">
					<tr>
					<td style="padding: 20px;">


						<!-- Welcome to theVacationHub.com -->
						<div style="font-family: Arial; font-size: 18px; font-weight: normal; margin: 20px 0 10px;color:#555555;">
							Your signed contract has been received by the owner.
						</div>
						
						<div style="font-size:12px;line-height:18px;margin: 7px 0; padding:0;">
							Hello ${vo.booking.fname}!
							<br />
								
							We, the owners of <strong>$vo.booking.listing.name ($vo.booking.listing.city, $vo.booking.listing.state)</strong>
							have received the copy of your signed contract for your booking on <strong>$vo.checkInDate - $vo.checkOutDate</strong> at the above mentioned property.
							<br /><br />
							Thank you and once again we appreciate your business.
							<br />
							<br />

							<div style="border-top: 1px dotted #CCCCCC; margin: 20px 40px 0pt; padding-bottom: 10px;"></div>
	
							<div style="font-family: Arial; font-size: 18px; font-weight: normal; margin: 20px 0 10px;color:#555555;">
								Booking status
							</div>
							<p>You can always check the status and finalize payment of your booking below.</p>
<!--							<a href="http://${vo.serverName}/manage/confirmQuote.do?id=${vo.bookingId}&email=${vo.booking.email}" style="border-bottom: none;text-decoration: none;"><span style="-moz-border-radius: 4px 4px 4px 4px;background-image:url(http://tvh.s3.amazonaws.com/public/email/tropical01/btn-overlay.png);background-repeat: repeat-x; background-color: #6AB620; border: 1px solid #CCCCCC !important;color: #777777 !important;cursor: pointer;display: inline-block;font-family: Tahoma,Arial,sans-serif;font-size: 12px;font-weight: bold;padding: 5px 15px;position: relative;text-decoration: none;border: 1px solid #749217 !important;color: #FFFFFF !important;text-shadow: 0 1px 1px #4d8128;">Your booking details</span></a>-->
							<p style="padding: 10px 0;"><a href="http://${vo.serverName}/manage/confirmQuote.do?id=${vo.bookingId}&email=${vo.booking.email}" style="border-bottom: none;text-decoration: none;border-bottom: none;text-decoration: none; background-color: #8dc855; padding: 10px 20px; border-radius: 7px; color: #FFF;text-shadow: 0 1px 1px #7da064;font-size: 14px;">
								Your booking details</a></p>
							<br />
							<br />
							
							Should you have further questions, feel free to drop us a line at 
							<a href="mailto:$vo.booking.listing.user.username">$vo.booking.listing.user.username</a>
							<br />
							<br />	

			                 Sincerely,
						     <br />
			                 $vo.ownerDetails.fname
						</div>
					</td>
					</tr>
				</table>
				
				<!-- /\/\/\/\/\/\/\  Main Content Ends Here  /\/\/\/\/\/\/\ -->
			</td>
			</tr>
			</table>


			</td>
			</tr>
		</table>




		<!-- Footer -->
		</td>
		</tr>
		<tr>
		<td class="copy">
		<br />
		<center>
		<p style="color: #cd5579;">Please do not reply to this email; replies are not monitored.</p>
		&copy; <strong><a href="http://www.thevacationhub.com" style="color: #404958; text-decoration: none;">The Vacation Hub</a></strong>
		</center>
		<br />
		</td>
		</tr>
		<!-- Footer End -->
		
	</table>

</body>
</html>


