<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<html>
	<head>
		<title></title>
		<style type="text/css">
			* {
			  margin: 0;
			  padding: 0;
			}
		</style>
	</head>
	<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">


		<table width="610"  style="color: #000; background-color: #FFFFFF; font: 12px/18px Helvetica,Arial,Verdana,sans-serif !important;border: 0px solid #f0f0f0; margin-top: 10px; vertical-align: middle;margin-left:auto; margin-right:auto;" cellpadding="0" cellspacing="0" border="0">
			<!-- Header (Common) -->
			<tr>
				<td background="http://tvh.s3.amazonaws.com/public/email/tropical01/tvh-tropical-logo.png" width="300" height="80" style="background-image: url('http://tvh.s3.amazonaws.com/public/email/tropical01/tvh-tropical-logo.png'); vertical-align: middle;"></td>
				<td background="http://tvh.s3.amazonaws.com/public/email/tropical01/tvh-tropical-header-background.png" style="background-image: url('http://tvh.s3.amazonaws.com/public/email/tropical01/tvh-tropical-header-background.png');vertical-align: middle;">
					<div style="font-family: Georgia; font-size: 20px;font-weight: normal;margin: 0;padding: 7px 20px 0 0;text-align: right; color: #FFF;">
						Renter's checked out -- deposit to be returned.
					</div>
					<p style="font-family: Georgia;font-size: 14px;font-style: italic;font-weight: normal;margin: 0 20px 0 0;padding: 0 0 0 0;text-align: right; color: #98C5D8;">$vo.today</p>
				</td>
			</tr>
			<!-- Header (Common) -->


			<!-- Body -->
			<tr>
			<td colspan="2">

				<table>
					<tr>
					<td style="padding: 10px;">


						
						<div style="font-family: Georgia; font-size: 20px; font-weight: normal; margin: 20px 0 10px;color:#555555;">
							It's time to return the security deposit.
						</div>
						<br />
						
						<div style="font-size:12px;line-height:18px;margin: 7px 0; padding:0;">

<!-- Email contents start here -->
				<p>
				<br />
				<br />
				Hi ${vo.ownerDetails.fname},
				<br /><br />


				<p>Your rentors have checked out. Please get an update from your cleaner and make sure there was no physical damage to the property.
				Confirm with your cleaner if -everything is a ok.

				<br>


				<p>Then return his deposit by using the PayPal Online.
				</p>
				<br>
				<p>
					<!--Do we need a special url ...Claudiu -->
				</p>
				<br>


				 <!--<p>Should you have further questions, drop us a line at <a href="mailto:$vo.booking.listing.condoEmail">$vo.booking.listing.condoEmail</a></p>-->
                 <p>Have a great day!</p>
                 <br><br>
                 <p>Sincerely,</p>
		<br>
                 <p>The VacationHub Team</p>
                 <br>
                 <br>



						</div>

						<div style="border-top: 1px dotted #CCCCCC; margin: 20px 40px 0pt; padding-bottom: 10px;"></div>
	
						<!-- Footer -->
						<center>
							 <p><font color="red" size="2">Please do not reply to this email; replies are not monitored.</font></p>
						</center>

					</td>
					</tr>
				</table>


			</td>
			</tr>
			<!-- Body -->
		</table>

	</body>
</html>

